<div class="card-body text-center">
<% if @comments.any? %>
    <h4 class="card-title">Comments(<%= @comments.count %>)</h4>
<% else %>
    <h4 class="card-title">No Comments,Be the first</h4>
<% end %>
<%= link_to "Add Comment", new_comment_path(article_id: @article.id), class:"btn btn-info" %>
</div>

<% @comments.each do |c| %>
<div class="mt-10 mb-10">
<div class="row d-flex justify-content-center">
    <div class="col-lg-6">
        <div class="card">
            
            <div class="comment-widgets">
                <!-- Comment Row -->
                <div class="d-flex flex-row comment-row m-t-0">
                    <div class="p-2"><%= gravatar_for c.user,size:40, class: "circle" %></div>
                    <div class="comment-text w-100">
                        <h6 class="font-medium"><%= c.user.username %>  
                                                    <%=  link_to article_dislikes_path(@article,c), method: :post,
                                                                class: "btn btn-sm float-right ml-1 rounded btn-danger" do%> 
                                                                <%= fa_icon "thumbs-down" %> 
                                                                    <%= c.dislikes.count %> 
                                                    <% end %> 
                                                    <%= link_to article_likes_path(@article,c), method: :post, 
                                                            class: "btn btn-sm float-right rounded btn-info" do %> 
                                                                <%= fa_icon "thumbs-up" %> 
                                                                    <%= c.likes.count %> 
                                                    <% end %> 
                        </h6> <span class="m-b-15 d-block"><%= c.description %></span>
                        <div class="comment-footer"> <span class="text-muted float-right"><%= c.created_at.to_date %>  <% if logged_in? && (c.user == current_user || current_user.admin?) %> </span><%= link_to "Edit", edit_comment_path(c),class: "btn btn-cyan btn-sm" %> <%= link_to "DELETE", comment_path(c),method: :Delete, data:{confirm: "are you sure?!"}, class:"btn btn-danger btn-sm" %><% end %></div>
                    </div>
                </div> <!-- Comment Row -->
                
            </div> <!-- Card -->
        </div>
    </div>
</div>
</div>

<% end %>